<div>

    <header class="header">
        <img src="../../static/images/logo.png" />
        <div class="searchdiv">
            <input placeholder="搜你想搜的" class="search" /><span style="cursor:pointer">搜索</span>
        </div>

    </header>
    <div class="headermenue">
        <div class="quicsearch">
            <span><a href="#">水果生鲜</a></span>|
            <span><a href="#">水果生鲜</a></span>|
            <span><a href="#">水果生鲜</a></span>|
        </div>
        <div class="itemcontent">
            <span><a href="#">云农之家</a></span>
            <span><a href="#">云农生态</a></span>
            <span><a href="#">我的云农</a></span>
        </div>
    </div>

    <div class="home_banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../../static/images/banner_1.jpg" /></div>
                <div class="swiper-slide"><img src="../../static/images/banner_2.jpg" /></div>
                <div class="swiper-slide"><img src="../../static/images/banner_3.jpg" /></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="banner_info"></div>
    </div>
</div>